html, body, #mainWindow{
    height: 100%;
    width: 100%;
}
html, body{
    margin: 0;
    padding: 0;
}
#choices{
    background-color: white;
    color: black;
    z-index: 23;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    max-width: 450px;
}
#map{
    height: 100%;
    width: 100%;
}
#HomeButton{
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
}
#printButton{
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 50;
    background-color: whitesmoke;
}
#info{
    top: 52px;
    right: 10px;
    position: absolute;
    z-index: 99;
    opacity: 0.9;
    background-color: whitesmoke;
    border-bottom-left-radius: 8px;
    padding: 0px 0px 0px 10px;
  }
#title{
    background-color: white;
    color: black;
    z-index: 23;
    position: absolute;
    top: 50px;
    right: 12%;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    max-width: 450px;
    display: none;
}
#parishList{
    background-color: white;
    color: black;
    z-index: 23;
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    max-width: 450px;
    display: none;
}
#applyFilter{
    background-color: white;
    color: blue;
    z-index: 23;
    position: absolute;
    bottom: 7px;
    left: 5px;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    max-width: 450px;
    display: none;
}
#districtTitle{
    background-color: white;
    color: black;
    z-index: 23;
    position: absolute;
    top: 50px;
    right: 12%;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    max-width: 450px;
    display: none;
}
#districtList{
    background-color: white;
    color: black;
    z-index: 23;
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    max-width: 450px;
    display: none;
}
#resetFilter{
    background-color: white;
    color: blue;
    z-index: 23;
    position: absolute;
    bottom: 7px;
    right: 5px;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    max-width: 450px;
    display: none;
}
#applyDistrictFilter{
    background-color: white;
    color: blue;
    z-index: 23;
    position: absolute;
    bottom: 7px;
    left: 5px;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    max-width: 450px;
    display: none;
}
#resetDistrictFilter{
    background-color: white;
    color: blue;
    z-index: 23;
    position: absolute;
    bottom: 7px;
    right: 5px;
    padding: 10px 10px 10px 10px;
    border-bottom-left-radius: 5px;
    max-width: 450px;
    display: none;
}
mark{
    background-color: darkgray;
    color: white;
}
